@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant

@* You can directly add a different CSS stylesheet to the page.
Whether this is a good practice or not is to be determined. *@
<link rel="stylesheet" href="~/css/styles2.css">

<h4>Add a new restaurant</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Address)
  @Html.EditorFor(model => model.Address)

  @Html.LabelFor(model => model.PhoneNumber)
  @Html.EditorFor(model => model.PhoneNumber)

  @Html.LabelFor(model => model.Cuisine)
  @Html.DropDownList("CuisineId")

  <input type="submit" value="Add new restaurant" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all restaurants", "Index")</p>